<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<div>
    <form th:action="|/create|" method="POST">
        <input type="text" name="title" placeholder="내용">
        <input type="submit" value="추가">
    </form>
</div>

<div>
    <ul>
        <li th:each="todo : ${todos}">
            <input th:checked="${todo.isCheckedWhen(today)}" type="checkbox" onclick="$(this).next().submit(); return false;">
            <form hidden th:action="@{|/toggleCheck/${todo.id}|}" method="POST">
                <input type="hidden" name="_method" value="PATCH"/>
            </form>
            <span th:text="${todo.title}"></span>
            <button onclick="if ( !confirm('정말로?') ) return false; $(this).next().submit();">삭제</button>
            <form hidden th:action="@{|/delete/${todo.id}|}" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
            </form>
        </li>
    </ul>
</div>